<form ref="{{ form }}" action="javascript:;">
  <div class="demo__inputs">
      <input value="{{ text }}" class="input" ref="{{ input }}" />
      <button ref="{{ add }}" class="btn btn--primary" type="submit">Add</button>
  </div>
  <ul>
    {% for todo in todos %}
        <li>{{ todo }}</li>
    {% endfor %}
  </ul>
</form>